.section-list{
    max-width: 100%;
}

.point{
    display:flex;
    max-width: 100%;
    align-items: center;
    margin-bottom: 3rem;
    margin-top: 3rem;
}


.point div{
    flex-wrap:wrap;
    margin:0;
    padding:0;
    height:50%;
    width: 50%;
    overflow: hidden;
    text-align: center;
}

.point img{
    height:50%;
    width:50%;
}

.point p,h2{
    text-align: center;
}

.point p{
    font-size: 1.2rem;
}

.first{
    flex-direction: row;
}

.second{
    flex-direction: row-reverse;
}


.header{
    border-bottom:5px solid rgb(0, 208, 255);
    padding-bottom: 1rem;
}

