.section_list{
    max-width: 100%;
}

.first_point{
    display:flex;
    max-width: 100%;
    align-items: center;
    flex-direction: row;
    margin-bottom: 3rem;
    margin-top: 3rem;
}


.first_point div{
    flex-wrap:wrap;
    margin:0;
    padding:0;
    height:50%;
    width: 50%;
    overflow: hidden;
    text-align: center;
}

.first_point img{
    height:50%;
    width:50%;
}

.first_point p,h2{
    text-align: center;
}

.first_point p{
    font-size: 1.2rem;
}

