.nav-li {
    display: inline;
    font-size: 20px;
}

.nav-li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.nav-li a:hover{
    color: rgb(0, 208, 255);
}

.nav-ul{
    display: block;
}


p{
    font-size: 1.5rem;
    line-height: 2rem;
    color:#ddddddb2;

}

body{
    background-color: #191919;
    margin:0;
    overflow-x: hidden;
}

.nav-section{
    position: sticky;
    z-index:6;
    margin: 0;
    overflow:hidden;
    background-color: #141414;
    max-width: 100%;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
    top: 0;
    width: 100%;
}

.nav-section a{
    margin: 20px;
    color: white;
}

.logo-text{
    font-size:20px;
    display: inline;
    font-family: math;
}

.context{
    background-color: #191919;
    border-bottom: solid;
    border-color: black;
}

.zeta-img{
    width: 100%;
    z-index:0;
    min-width:700px;
    height: 100%;
    background-size: cover;
}


h1,h2,h3,h4,h5,h6,p{
    font-family:math;
    margin:1rem 5%;
}

h1,h2,h3,h4,h5,h6{
    text-align: center;
    color:#ddd;
}


@media screen and (max-width:560px){
    .image-text{
        top:10vw;
    }
}

.highlighter{
    color:rgb(0, 208, 255);
}

.footer{
    background-color: #141414;
    margin:0;
    padding: 0;
    height: 100%;
    width: 100%;
}

.githubacc{
    text-decoration: none;
    color: rgb(0, 208, 255);
}

