.nav_li {
    display: inline;
    font-size: 20px;
}

.nav_li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.nav_li a:hover{
    color: grey;
}

.nav_ul{
    display: block;
}

.logo_image{
    height: auto;
    max-width: 100px;
}

p{
    font-size: 15px;
}

body{
    margin:0;
}

.nav_section{
    z-index:3;
    margin: 0;
    overflow:hidden;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.4);
}

.nav_section a{
    margin: 20px;
}

.logo_text{
    font-size:20px;
    display: inline;
    font-family: math;
}

.context{
    background-color: rgb(250,250,250);
    border-bottom: solid;
    border-color: black;
}

.zeta_img{
    max-width: 100%;
    opacity:0.7;
    z-index:0;
}


h1,p{
    font-family:math;
    margin-left:1%;
}

h1{
    text-align: center;
}