.nav_li {
    display: inline;
    font-size: 20px;
}

.nav_li a{
    text-decoration: none;
}

.nav_ul{
    display: block;
}

.logo_image{
    height: auto;
    max-width: 100px;
}

p{
    font-size: 15px;
}

body{
    margin:0;
}

.nav_section{
    margin: 0;
    overflow:hidden;
    background-color: aqua;
    max-width: 100%;
    box-shadow: 0px 8px 8px -8px rgba(0, 0, 0, 0.4)
}

.nav_section a{
    margin: 20px;
}

.logo_text{
    font-size:20px;
    display: inline;
    font-family: math;
}

.context{
    background-color: rgb(250,250,250);
    border-bottom: solid;
    border-color: black;
}

.zeta_img{
    max-width: 100%;
    opacity:0.7;
    z-index:0;
}

.title_img{
    z-index:1;
    text-align: center;
    position: absolute;
    left: 40%;
    padding: 0 5px;
    margin: 15px 0;
    text-transform: uppercase;
    font-size: 2em;
    bottom: 20%;
    color:white;
    font-family: math;
}