.nav_li {
    display: inline;
    font-size: 20px;
}

.nav_li a{
    text-decoration: none;
    color:rgb(0, 0, 0);
}

.nav_li a:hover{
    color: grey;
}

.nav_ul{
    display: block;
}

.logo_image{
    height: auto;
    max-width: 100px;
}

p{
    font-size: 1.5rem;
    line-height: 2rem;

}

body{
    margin:0;
}

.nav_section{
    z-index:3;
    margin: 0;
    overflow:hidden;
    background-color: rgb(255, 255, 255);
    max-width: 100%;
    box-shadow: 0px 10px 10px -10px rgba(0, 0, 0, 0.5);
}

.nav_section a{
    margin: 20px;
}

.logo_text{
    font-size:20px;
    display: inline;
    font-family: math;
}

.context{
    background-color: rgb(255, 255, 255);
    border-bottom: solid;
    border-color: black;
}

.zeta_img{
    width: 100%;
    opacity:0.7;
    z-index:0;
    min-width:700px;
}


h1,p{
    font-family:math;
    margin:1rem 5%;
}

h1{
    text-align: center;
}

.image_text{
    position: absolute;
    top:40vw;
    text-align: center;
    width: 100%;
    color:white;
    -webkit-text-stroke-color: rgb(0, 0, 0);
    -webkit-text-stroke-width: 1px;
    font-size: 3rem;
}
@media screen and (max-width:560px){
    .image_text{
        top:10vw;
    }
}