.chapter-content h1,h2,h3,h4,h5,h6,p{
    text-align: left;
    margin-left:3rem;
    font-weight: 100;

}

p{
    font-size:large;
}

b{
    font-weight: 900;
}

.border-header{
    border-bottom: solid;
    border-color: rgb(0, 208, 255);
}

.def-proof,.code-section{
    background-color: #2b2b2b;
    margin:0rem 2rem 1rem 2rem;
    border-color: rgb(0, 208, 255);
    border-style: solid;
    overflow: hidden;
    z-index:0;
    border-radius: 10px 10px 10px 10px;
}

.code-section{
    border-radius: 0px 10px 10px 10px;
}

.def-proof h2{
    display:inline-block;

}

pre{
    /*color:#ddddddb2;*/
    margin-left: 1rem;
    color:aliceblue;
}

.code-btn{
    margin:2rem 0rem -0.1rem 2rem;
    display:flex;
    z-index:4;

}

.code-btn a{
    display: flex;
    flex-direction: row;
    z-index:5;
    color:aliceblue;
    padding: 0.5rem;
    font-family: math;
    text-decoration: none;


}

.code-btn a:hover{
    color:rgb(0, 208, 255);
    cursor:pointer;
}

.code-div{
    display:flex;
    flex-direction: column;
}

a{
    color:rgb(0, 208, 255);
}



.radio-section {
	display: flex;
	align-items: top;
	justify-content: left;
    margin:1rem;
}


.radio-item [type="radio"] {
	display: none;
}
.radio-item + .radio-item {
	margin-top: 15px;
}

.radio-item label {
	display: block;
	padding: 20px 60px;
	background: #313131;
	border: 2px solid rgb(0, 81, 99);
	border-radius: 10px;
	cursor: pointer;
	font-size: 18px;
	font-weight: 400;
	min-width: 250px;
	white-space: nowrap;
	position: relative;
	transition: 0.4s ease-in-out 0s;
    color:white;
}
.radio-item label:after,
.radio-item label:before {
	content: "";
	position: absolute;
	border-radius: 50%;
}
.radio-item label:after {
	height: 19px;
	width: 19px;
	border: 2px solid rgb(0, 81, 99);
	left: 19px;
	top: calc(50% - 12px);
}
.radio-item label:before {
	background: rgb(0, 208, 255);
	height: 20px;
	width: 20px;
	left: 21px;
	top: calc(50%-5px);
	transform: scale(5);
	opacity: 0;
	visibility: hidden;
	transition: 0.4s ease-in-out 0s;
}
.radio-item [type="radio"]:checked ~ label {
	border-color: rgb(0, 208, 255);
}
.radio-item [type="radio"]:checked ~ label::before {
	opacity: 1;
	visibility: visible;
	transform: scale(1);
}

.radio-item [type="radio"]:checked ~ label::after {
    border-color:rgb(0, 208, 255);
}

.reference-section{
	border-top: solid rgb(0, 208, 255);
}